machine:
  network:
    interfaces:
      - deviceSelector:
          physical: true
        address: ${ip}
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: ${vip}